body {
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-direction: row;
    user-select: none;
}

#fast-menu {
    width: 200px;
    background-color: black;
}

#path-display {
    border-top: 1px solid rgb(209, 208, 208);
    border-bottom: 1px solid rgb(209, 208, 208);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
}

#path-display #path {
    background-color: rgb(200, 200, 200);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    flex: 1;
    margin-left: 10px;
    height: 20px;
    line-height: 20px;
}

#path-level-1{
    font-size: small;
}

.back-front {
    margin-left: 10px;
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#main-page {
    background-color: transparent;
    flex: 1;

    display: flex;
    flex-direction: row;
}

#main-page{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#item-list{
    height: 30px;
    background-color: rgb(52, 51, 51, 0.8);
    color: white;
    font-size: small;
    line-height: 30px;
    border-bottom: 1px solid white;

    display: flex;
    flex-direction: row;
}

#item-list #name{
    width: 250px;
    border-right: 1px solid gray;
    margin-left: 10px;
    padding-right: 10px;
}

#item-list #date{
    flex: 1;
    border-right: 1px solid gray;
    margin-left: 10px;
}

#item-list #type{
    flex: 1;
    border-right: 1px solid gray;
    margin-left: 10px;
}

#item-list #size{
    flex: 1;
    border-right: 1px solid gray;
    margin-left: 10px;
}

#item-list #opti{
    flex: 1;
    border-right: 1px solid gray;
    margin-left: 10px;
}

#main-page iframe{
    flex: 1;
}

#main-page iframe::-webkit-scrollbar{
    width: 5px;
}